body {
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    background-color: #333333;
    justify-content: space-around;
    padding: 10px 0;
}

.menu a {
    color: #ffffff;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: block;
    width: 100px;
}

.menu a.active {
    background-color: #FFD700;
    color: #000000;
}

.menu a:hover {
    background-color: #575757;
}

#content {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

.links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.link-item img {
    width: 48px;
    height: 48px;
}

.ad {
    background-color: #575757;
    padding: 40px;
    margin: 10px 0;
    text-align: center;
    border: 2px dashed #ffffff;
    border-radius: 8px;
}

.ad p {
    margin: 0;
    font-size: 14px;
}

@media (max-width: 600px) {
    .menu {
        flex-direction: column;
        align-items: center;
    }
    .menu a {
        padding: 10px 0;
        width: 100%;
        text-align: center;
    }
}

ul {
    list-style: none;
    padding: 0;
}

article img {
    width: 100%;
    max-width: 400px;
}
